.header-group {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 1rem;
}

.logout-button {
	color: var(--link-blue);
}
 
.logout-button:hover {
	cursor: pointer;
	text-decoration: underline;
}

.logout-button:active {
	transform: scale(0.99);
}

.homepage-info-container {
	margin-top: 5rem;	
	display: flex;	
	align-items: center;
	justify-content: center;
	gap: 5rem;
}

.homepage-info-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.greybox {
	width: 475px;
	height: 350px;	
	background-color: rgba(48, 48, 48, 0.5);
	border-radius: 12px;

	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.videostream {
	border-radius: 12px;
	width: 475px;
	height: 350px;
}

.captured-image {
	border-radius: 12px;
	width: 475px;
	height: 350px;
}

.camera-button-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.homepage-info-right {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;

	gap: 1.5rem;

	padding-bottom: 7rem;
}

.input-subtitle {
	margin-bottom: 0.5rem;
}

#fod-inp, #ing-inp {
	padding: 0.6rem 1rem;
	width: 20rem;
	margin-right: 0.5rem;
}

@media (max-width: 1220px) {
	.header-group h1 {
		font-size: var(--h3-font);
	}

	.homepage-info-container {
		margin-top: 2rem;
		gap: 1rem;
		flex-direction: column;
	}

	.greybox, .captured-image, .videostream {
		width: 350px;
		height: 262.5px;
	}

	.input-subtitle {
		text-align: center;
		font-size: var(--h5-font);
		margin-top: 0.5rem;
	}

	#fod-inp {
		width: 15rem;
	}

	#ing-inp {
		width: 15rem;
	}
}